* {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #D6EEFF;
}
img {
    width: 100%;
    max-width: 180px;
}
.weather {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.weather .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather .title h1, .weather .title h2 {
    font-size: 42px;
    margin: 0;
}
.weather .title h1 {
    color: #EC6E4C;
    font-weight: 900;
}
.weather .title h2 {
    font-weight: 200;
}
.weather-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}
.weather-container .weather-main, .weather-container .weather-content, .weather-container .weather-content .weather-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-container {
    width: 420px;
    background-color: #A5D6FF;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.weather-container .weather-main {
    padding: 25px 100px;
}
.weather-container .weather-main h2 {
    color: #fff;
    font-weight: 800;
    font-size: 64px;
    margin: 10px 0 0 0;
}
.weather-container .weather-content {
    background-color: #fff;
    border-radius: 40px 40px 8px 8px;
    padding-bottom: 30px;
}
.weather-container .weather-content .weather-content-title {
    margin-top: 30px;
}
.weather-container .weather-content .weather-content-title h3, .weather-container .weather-content .weather-content-title p {
    font-size: 36px;
    margin: 0;
}
.weather-container .weather-content .weather-content-title h3 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
} 
.weather-content .weather-content-min-max {
    margin-top: 70px;
    margin-left: 20px;
}

.weather-content .weather-content-min-max span {
    font-size: 32px;
    font-weight: 700;
    padding: 25px;
    border-radius: 100%;
    color: #fff;
}
.weather-content .weather-content-min-max span#max {
    background-color: #EC6E4C;
    position: relative;
    right: 25px;
    bottom: 30px;
}
.weather-content .weather-content-min-max span#min {
    background-color: #C4C4C4;
}
.weather-content .weather-content-details-container {
    margin-top: 50px;
    width: 300px;
}
.weather-content .weather-content-details-container h3 {
    color: #000;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.weather-content .weather-content-details-container h3 span {
    font-size: 26px;
    font-weight: 700;
}